@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-buttons{
    margin-left: 60%;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: azure;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}

h3{
    font-size: 1.5rem;
    font-weight: 700;
}

h4{
    font-size: 1.2rem;
    font-weight: 700;
}

h5{
    color: bisque;
    font-size: 1.2rem;
    font-weight: 600;
}

h6{
    font-size: 1.2rem;
    font-weight: 700;
}

p{
    color: black;
}

hr{
    width: 50px;
    height: 3px;
    opacity: 1;
    background-color: #fb774b;
}
.navbar{
    font-size: 16px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 10px 15px rgba(0,0,0,0.4);
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.5s ease;
}

.navbar .nav-link.active,.navbar i.active{
    color: coral;
}

.navbar .nav-link:hover,.navbar i:hover{
    color: coral;
}

.navbar i{
    font-size: 2ream;
    color: black;
    size: 16px;
    padding: 0 0.7px;
    transition: 0.5s ease;
    cursor: pointer;
    margin-left: 15px;
}

.navbar img{
    width: 160px;
}
@media only screen and (max-width:990px){
    .nav-buttons{
        margin: 10px;
    }
    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
}

.footer p{
 color: wheat;
}

.single-product h6{
    color: #fb774b;
}

#home{
    background-image: url(../imgs/back1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    background-position-y: 75px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

button{
    font-size: 1rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: aliceblue;
    color: #1d1d1d;
    padding: 13px 13px;

}


button:hover{
    transition: 0.5s ease;
    background-color: rgb(241, 122, 78);
}

#new .one img{
    width: 100%;
    background-position:center ;
    background-repeat: none;
    background-size: cover;
    
}

#new .one{
    position: relative;
}

#new .one .details{
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.5s ease;
    opacity: 0.8;
    background-color: rgb(1, 1, 1);
    width: 100%;
    height:100%;
    
}
#new .one .details:hover{
    color: black;
    background-color: rgb(214, 172, 65);
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: start;
}

/*product*/
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.4 all;
}

.product img:hover{
    opacity:0.7;
}

.product .buy-btn{
    background-color: #fb774b;
    transform: translateY(50px);
    opacity:0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
}

.stars{
    padding: 10px 0;
}

.stars i{
    font-size: 0.9rem;
    color: goldenrod;

}

#banner{
    background-image: url(../imgs/back2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 75px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h1{
    color: coral;
}
#banner button{
    background-color: #fb774b;
}
#banner button:hover{
    background-color: coral;
}

footer{
    background-color: #222222;

}

footer h6{
    color: #d8d8d8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer p{
    color: wheat;
}

footer li{
    padding-bottom: 4px;

}

footer li a{
    font-size: 1rem;
    color: #999;
    text-decoration: none;
}

footer li a:hover{
    color:#fb774b;
}

footer .copyright a{
    color: #1d1d1d;
    height: 40px;
    width: 40px;
    background-color: #ffff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 70%;
    transition: 0.4 ease;
    margin: 0 5px;

}

footer .copyright a:hover{
    color: #d8d8d8;
    background-color: #fb774b;
}

footer .copyright i{
    color: #1d1d1d;
    height: 40px;
    width: 40px;
    background-color: #ffff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 70%;
    transition: 0.4 ease;
    margin: 0 5px;
}

footer .copyright i:hover{
    color: #d8d8d8;
    background-color: #fb774b;
}

footer .footer-one{
    color: wheat;
}

footer img{
    width: 170px;;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    margin-right: 10px;
}


.single-product input:focus{
    outline: none;
}


/*cart*/
.cart table{
    width: 100%;
    border-collapse:collapse;
}

.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}

.cart th{
    text-align: left;
    padding: 5px 10px;
    color:#ffff ;
    background-color: #fb774b;
}

.cart td{
    padding: 10px 20px;
}

.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart td input{
    width: 40px;
    height: 30px;

}

.cart td a{
    color: #fb774b;

}

.cart .remove-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 16px;
    background-color:  #ffff;
    border:  none;
    width: 100%;
}

.cart .edit-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 14px;
    background-color:  #ffff;
    border:  none;
    
}

.cart-total{
    display: flex;
    justify-content:flex-end ;
}

.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.cart .checkout-btn{
    display: flex;
    justify-content: flex-end;
    background-color:black;
    color: white;
}
.cart .checkout-btn:hover{
    color: white;
    background-color: #fb774b;
}

.checkout-container{
    display: flex;
    justify-content: flex-end;
}

/*Login*/
#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center; 
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#login-form input{
    width: 50%;
    margin: 5px auto;
}

#login-form #login-btn{
    background-color: #fb774b;
    color: #ffff;
}

#login-form #register-url{
    color: #fb774b;
}

/*Registeration*/
#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center; 
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#register-form input{
    width: 50%;
    margin: 5px auto;
}

#register-form #register-btn{
    background-color: #fb774b;
    color: #ffff;
}

#register-form #login-url{
    color: #fb774b;
}
/*Account*/

#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input{
    margin: 5px auto;
}

#account-form #change-pass-btn{
    color: #ffff;
    background-color: #fb774b;
}

.account-info #orders-btn,#logout-btn{
    text-decoration: none;
    color: #fb774b;
}

/*Orders*/

.orders table{
    width: 100%;
    border-collapse: collapse;
}

.orders .product-info{
    display: flex;
    flex-wrap: wrap;
}

.orders th{
    text-align: left;
    padding: 5px 10px;
    color: #ffff;
    background-color: #fb774b;
}
.orders th:nth-child(2){
    text-align: right;
}

.orders td{
    padding: 10px 20px;

}

.orders td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/*Checkout*/
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}

#checkout-form .checkout-large-element{
    width: 96%;
}

#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}

#checkout-form #checkout-btn{
    color: #ffff;
    background-color: #fb774b;
}

/*Contact*/

#contact span{
    color: #fb774b;
}